body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}



h2 {
    text-align: center;
}



button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.link {
    text-align: center;
    margin-top: 10px;
}
